/* ==UserStyle==
@name        Ncf Dark
@version     0.1.1
@description Transforms www.ncf.ca pages into a dark theme.
@author      Rob Johnston
@homepageURL https://github.com/robjohnston/NcfDark
==/UserStyle== */
body {
    background: #171717 !important;
    color: #e3e3e3 !important;
    font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif !important;
    font-size: medium !important;
    font-weight: 400 !important;
}

body a {
    color: #0091ff;
}

/* Form inputs */
form select,
form input[type="password"],
form input[type="text"],
form input:not([type]) {
    background: #171717;
    border: 1px solid #454545;
    color: #e3e3e3;
    padding: 3px;
}

form input[type="submit"] {
    background-color: #005da6;
    border-color: #004e8c;
    border-radius: 5px;
    color: #fff;
    color: white;
    font-size: larger;
    min-width: 100px;
    padding: 10px;
}

/* Hack for existing graphs */
div#topbar div {
    background: white;
}

div#topbar div#topbar_linkbar {
    background: #171717;
}

div#leftbar {
    background: #171717;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td {
    background: white;
}
